<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vue Basics</title>
  <link rel="stylesheet" href="theme.css"/>
</head>

<body>
<div class="container" id="app">
  <div class="card">
    <h1>{{ title }}</h1>

    <div class="form-control">
<!--      todo v-bind, v-on устаревший синтаксиc, переделать-->
<!--      todo подумать и сделать без использования метода inputChangeHandler (v-model)-->
<!--      todo устранить ошибку-->
      <input
        type="text"
        v-bind:placeholder="placeholder"
        v-bind:value="inputValue"
        v-on:input="inputChangeHandler"
        v-on:keydown.enter="addNewNote"
      />
    </div>

<!--   todo поставить круглые скобки где они нужны -->
    <button class="btn" v-on:click="addNewNote">Add</button>
    <hr>

    <ul class="list">
<!--    todo почитать про ключи в циклах    -->
      <li class="list-item" v-for="(myNote, index) in notes">
        {{ toUpperCase(myNote) }}
        <button class="btn danger" v-on:click="removeNote(index)">Delete</button>
      </li>
    </ul>
<!--    todo написать по другому сравнение-->
    <div v-if="notes.length === 0">Заметок нет. Добавьте первую</div>
    <hr>
    <div>
      Количевство заметок: {{ notes.length }}
    </div>
  </div>
</div>

<!-- todo мы сейчас работает со второй версией, 3я пока что в бета тесте -->
<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>

</html>
